<div>
    <table class="table table-hover table-striped table-sortable" *ngIf='data'>
        <thead>
            <tr>
                <th *ngFor="let column of columns" [class]="selectedClass(column.name)" [style.width.%]="column.width"
                    (click)="changeSorting(column.name)">
                    {{column.headertext}}
                </th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of pdata | orderby : convertSorting() | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                <td *ngFor="let column of columns" [ngSwitch]="column.filter">
                    <label [innerHTML]="row[column.name] | format : column.filter" class="table-label" *ngSwitchDefault></label>
                    <div *ngSwitchCase="'bool'" class="text-danger">
                        <label class="switch" data-on="YES">
                            <input type="checkbox" checked [(ngModel)]="row[column.name]">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </td>
                <td *ngIf="isView" width="2%">
                    <a (click)="click('view',row)" href="#"><em class="fa fa fa-eye fa-2x"></em></a>
                </td>
                <td *ngIf="isEdit" width="2%">
                    <a (click)="click('edit',row)" href="#"><em class="fa fa-pencil fa-2x"></em></a>
                </td>
                <td *ngIf="isDelete" width="2%">
                    <a (click)="click('delete',row)" href="#"><em class="fa fa-trash fa-2x text-danger"></em></a>
                </td>
                <td *ngIf="isPrint" width="2%">
                    <a (click)="click('download',row)" href="#"><em class="fa fa-download fa-2x text-success"></em></a>
                </td>
            </tr>
            <tr *ngIf='pdata && pdata.length<1'>
                <td [attr.colspan]="colcount"><div>No record found!</div></td>
            </tr>
            <tr>
                <td [attr.colspan]="colcount">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-3  col-md-3 col-sm-3" *ngIf="showSearch">
                                <input #search class="form-control pull-right" type="text" placeholder="Search..." (keyup)='onSearch($event,search.value)'>
                            </div>
                            <div class="col-lg-3  col-md-3 col-sm-3">
                                <label>Total Records: {{length}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 pagertop" *ngIf="showPaging">
                                <pagination class="pagination-sm pull-right" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="onChangeTable(config, $event)"></pagination>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
       
    </table>
</div>