<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">&nbsp;<b>Team Details</b></div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row" [ngBusy]="usersbusy">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <poc-grid [columns]="columns"
                  [data]="teamdetails"
                  [sort]="sorting"
                  [isView]="true"
                  [showPaging]="true"
                  [showSearch]="true"
                  (btnclick)="gridaction($event)" >
        </poc-grid>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
