<div class="container">
    <div class="row">
        <div class="col-md-12">&nbsp;<b>Week:</b>{{StartOfWeek}}-{{EndOfWeek}}</div>
    </div>
    <div class="row" [ngBusy]="[timesheetbusy]">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr *ngFor="let week of TimeSheetList| slice:0:1">
                        <th>Project</th>
                        <th>Task</th>
                        <th *ngFor="let day of week" class="text-center">
                            {{day.DaysofWeek}}<br />
                            {{day.Period| date: 'MM/dd/yyyy'}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let week of TimeSheetList;  index as i">
                        <td style="width:25%">{{selectedProject[i]}}</td>
                        <td style="width:25%">{{selectedTask[i]}}</td>
                        <td *ngFor="let day of week" class="text-center"><label>{{day.Hours}}</label></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td style="width:25%"></td>
                        <td style="width:25%"></td>
                        <td class="text-center"><label></label></td>
                        <td class="text-center"><label></label></td>
                        <td class="text-center"><label></label></td>
                        <td class="text-center"><label></label></td>
                        <td class="text-center"><label></label></td>
                        <td class="text-center"><label></label></td>
                        <td class="text-center"><label></label></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    
</div>

