IF (
		SELECT COUNT(*)
		FROM dbo.[Registration]
		) < 1
BEGIN
	INSERT [dbo].[Registration] (
		[FirstName]
		,[Mobileno]
		,[EmailID]
		,[Username]
		,[Password]
		,[ConfirmPassword]
		,[Gender]
		,[Birthdate]
		,[RoleID]
		,[CreatedOn]
		,[EmployeeID]
		,[DateofJoining]
		,[ForceChangePassword]
		,[DateofLeaving]
		,[IsActive]
		,[UpdatedDate]
		,[LastName]
		,[MiddleName]
		,[WorkEmail]
		,[DeptId]
		,[EmergencyContact]
		,[EmergencyContactNumber]
		,[ManagerId]
		,[JobId]
		)
	VALUES (
		N'SuperAdmin'
		,N'9998887770'
		,N'SuperAdmin@gmail.com'
		,N'SuperAdmin'
		,N'EcMeUuVrv6U89Ul/imhLmw=='
		,N'EcMeUuVrv6U89Ul/imhLmw=='
		,N'M'
		,CAST(N'1990-09-11T00:00:00.000' AS DATETIME)
		,1
		,CAST(N'2017-09-03T10:39:28.357' AS DATETIME)
		,N'TM0001'
		,NULL
		,NULL
		,NULL
		,1
		,NULL
		,NULL
		,NULL
		,N'SuperAdmin@tm.com'
		,NULL
		,NULL
		,NULL
		,NULL
		,NULL
		)

























































END
