<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="RptServerName" value="http://SERVERNAME/ReportServer/" />
  <add key="RPT_SRVR_WS" value="http://SERVERNAME/ReportServer/ReportExecution2005.asmx" />
  <add key="ReportFolder" value="/ReportFolderPATH/" />
  <add key="rptSrvDomain" value="TESTDOMAIN" />
  <add key="UserName" value="USERNAME" />
  <add key="Password" value="PASSWORD" />
  <add key="owin:AutomaticAppStartup" value="false" />
</appSettings>
