<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="RptServerName" value="http://s1dwdvrsvm01.sldc1.dev.equifax.com/ReportServer/" />
  <add key="RPT_SRVR_WS" value="http://s1dwdvrsvm01.sldc1.dev.equifax.com/ReportServer/ReportExecution2005.asmx" />
  <add key="ReportFolder" value="/Gutenberg/" />
  <add key="rptSrvDomain" value="TALX" />
  <add key="UserName" value="TALX\axz27" />
  <add key="Password" value="Equifax2016" />
  <add key="owin:AutomaticAppStartup" value="false" />
</appSettings>