<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="POC.Repository" />
  <namespace name="POC.Repository" />
  <namespace name="POC.Repository.Interface" />
  <namespace name="POC.Repository.Implementation" />
   <container>
    <register type="ILogger" mapTo="Logger" />
    <register type="IAssignRolesRepository" mapTo="AssignRolesRepository" />
    <register type="IAuditRepository" mapTo="AuditRepository" />
    <register type="IDepartmentRepository" mapTo="DepartmentRepository" />
    <register type="IDocumentRepository" mapTo="DocumentRepository" />
     <register type="IExpenseExportRepository" mapTo="ExpenseExportRepository" />
     <register type="IExpenseRepository" mapTo="ExpenseRepository" />
     <register type="IJobsRepository" mapTo="JobsRepository" />
     <register type="ILoginRepository" mapTo="LoginRepository" />
     <register type="INotificationRepository" mapTo="NotificationRepository" />
     <register type="IProjectRepository" mapTo="ProjectRepository" />     
     <register type="IRegistrationRepository" mapTo="RegistrationRepository" />
     <register type="IRoleRepository" mapTo="RoleRepository" />
     <register type="ITaskRepository" mapTo="TaskRepository" />
     <register type="ITimeSheetExportRepository" mapTo="TimeSheetExportRepository" />
     <register type="ITimeSheetRepository" mapTo="TimeSheetRepository" />
     <register type="IUsersRepository" mapTo="UsersRepository" />
  </container>
</unity>