<form [formGroup]="taskForm" class="form-validate form-horizontal" (submit)="submitForm($event)" novalidate="">
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">Task Information</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="control-label">Project</label>
                            <select class="form-control" appSelectValidator [(ngModel)]="projectId" formControlName="ddlProject" [attr.disabled]="isDisable ? '' : null">
                                <option value="-1">--Select--</option>
                                <option *ngFor="let project of projectdetails" value={{project.ProjectID}}>
                                    {{project.ProjectName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label">Team Member</label>
                            <select class="form-control" appSelectValidator [(ngModel)]="AssignedtoId" formControlName="ddlUser" [attr.disabled]="isDisable ? '' : null">
                                <option value="-1">--Select--</option>
                                <option *ngFor="let project of teamMemberslist" value={{project.RegistrationID}}>
                                    {{project.FullName}}
                                </option>
                            </select>

                        </div>
                        <div class="col-lg-4">
                            <label class="control-label">Status</label>
                            <select class="form-control" appSelectValidator [(ngModel)]="status" formControlName="ddlStatus">
                                <option value="-1">--Select--</option>
                                <option value="1">New</option>
                                <option value="2">Active</option>
                                <option value="3">Completed-</option>
                            </select>
                            <span class="text-danger" *ngIf="taskForm.controls['ddlStatus'].hasError('defaultselected') && (taskForm.controls['ddlStatus'].dirty || taskForm.controls['ddlStatus'].touched)">Status is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">Task Name</label>
                            <input [(ngModel)]="Taskname" class="form-control" type="text" formControlName="TaskName" [attr.disabled]="isDisable ? '' : null" [formControl]="taskForm.controls['TaskName']" (blur)="onTaskNameChange()" />
                            <span class="text-danger" *ngIf="taskForm.controls['TaskName'].hasError('required') && (taskForm.controls['TaskName'].dirty || taskForm.controls['TaskName'].touched)">Task is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">Comments</label>
                            <textarea [(ngModel)]="comments" class="form-control" type="text" formControlName="Comments" [formControl]="taskForm.controls['Comments']"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="control-label"> Active/InActive</label><br />
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked [(ngModel)]="IsActive" formControlName="IsActive" [formControl]="taskForm.controls['IsActive']">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                </label>
                            </div>
                            <span class="text-danger" *ngIf="taskForm.controls['IsActive'].hasError('required') && (taskForm.controls['IsActive'].dirty || taskForm.controls['IsActive'].touched)">Status is required</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-10">
            <button type="submit" class="btn btn-oval btn-success">Save</button>&nbsp;
            <button type="button" class="btn btn-oval btn-danger" (click)="onCancelClick()">Cancel</button>
        </div>
        <div class="col-md-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
</form>