<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-3">
        <label class="control-label">Project</label>
        <select class="form-control" appSelectValidator [(ngModel)]="projectId" [attr.disabled]="isDisable ? '' : null">
            <option value="-1">--Select--</option>
            <option value="0">--All--</option>
            <option *ngFor="let project of projectsdetails" value={{project.ProjectID}}>
                {{project.ProjectName}}
            </option>
        </select>

    
    </div>
    <div class="col-md-7"><br /> <button type="button" class="btn btn-oval btn-success mt-0" (click)="onDocumentSearch()">Search</button>&nbsp;</div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>

<div class="row" [ngBusy]="[documentsbusy]">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <poc-grid [columns]="columns"
                  [data]="documents"
                  [sort]="sorting"
                  [showSearch]="true"
                  [isPrint]="true"
                  (btnclick)="gridaction($event)">
        </poc-grid>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
